<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson 57. Javascript 101</title>
    <link rel="stylesheet"   href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="no-scroll">
<div class="buttons">
    <form id="postForm" method="post" enctype="multipart/form-data">
        <input type="file" name="poster">
<!--        <input type="hidden" name="id">-->
        <textarea name="description"></textarea>
        <!--            <input type="submit">-->
        <button type="button" id="postBut">Post</button>
    </form>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-7 posts-container"></div>
    </div>
</div>
<section id="page-splash" class="page-splash">
    <div class="d-flex justify-content-center">
        <div class="mx-3">
            <form id="registration-form">
                <h3>Регистрация</h3>
                <input type="email" name="email" class="form-control mb-1" placeholder="Email">
                <input type="text" name="fullName" class="form-control mb-1" placeholder="Полное имя">
                <input type="text" name="username" class="form-control mb-1" placeholder="Логин">
                <input type="password" name="password" class="form-control mb-1" placeholder="Пароль">
                <button class="btn btn-outline-primary btn-block">Зарегистрироваться</button>
            </form>
        </div>
        <div class="mx-3">
            <form id="login-form">
                <h3>Вход</h3>
                <!--                    <input type="text" name="username" class="form-control mb-1" placeholder="Логин">-->
                <input type="email" name="email" class="form-control mb-1" placeholder="Email">
                <input type="password" name="password" class="form-control mb-1" placeholder="Пароль">
                <button class="btn btn-outline-primary btn-block">Войти</button>
            </form>
        </div>
    </div>

</section>
<script src="/scripts/script.js"></script>
</body>
</html>